In [3]:
import quandl
import numpy as np
from sklearn import preprocessing
from sklearn import model_selection
data_frame = quandl.get("YALE/SPCOMP", start_date="1950-01-01", end_date="2019-12-31")
data_frame.head()

,S&P Composite,Dividend,Earnings,CPI,Long Interest Rate,Real Price,Real Dividend,Real Earnings,Cyclically Adjusted PE Ratio
Year,,,,,,,,,
1950-01-31,16.88,1.15,2.33667,23.5,2.320000,184.702397,12.583398,25.568042,10.745733
1950-02-28,17.21,1.16,2.35333,23.5,2.340833,188.313285,12.692819,25.750337,10.911564
1950-03-31,17.35,1.17,2.37000,23.6,2.361667,189.040748,12.747993,25.822857,10.910947
1950-04-30,17.84,1.18,2.42667,23.6,2.382500,194.379651,12.856950,26.440318,11.178022
1950-05-31,18.44,1.19,2.48333,23.7,2.403333,200.069332,12.911199,26.943502,11.461543

In [4]:
data_frame = data_frame[['Long Interest Rate', 'Real Price', 'Real Dividend']]
data_frame.fillna(method='ffill', inplace=True)
data_frame['Real Price Label'] = data_frame['Real Price'].shift(-3)
features = np.array(data_frame.drop('Real Price Label', 1))
scaled_features = preprocessing.scale(features)
scaled_features_latest_3 = scaled_features[-3:]
scaled_features = scaled_features[:-3]
data_frame.dropna(inplace=True)
label = np.array(data_frame['Real Price Label'])
(features_train, features_test, label_train, label_test) = model_selection.train_test_split(scaled_features, label, test_size=0.1, random_state=8)