In [2]:
import quandl
data_frame = quandl.get("YALE/SPCOMP")
data_frame.head()

,S&P Composite,Dividend,Earnings,CPI,Long Interest Rate,Real Price,Real Dividend,Real Earnings,Cyclically Adjusted PE Ratio
Year,,,,,,,,,
1871-01-31,4.44,0.26,0.4,12.464061,5.320000,91.599130,5.363913,8.252174,NaN
1871-02-28,4.50,0.26,0.4,12.844641,5.323333,90.086245,5.204983,8.007666,NaN
1871-03-31,4.61,0.26,0.4,13.034972,5.326667,90.940801,5.128982,7.890742,NaN
1871-04-30,4.74,0.26,0.4,12.559226,5.330000,97.047287,5.323269,8.189645,NaN
1871-05-31,4.86,0.26,0.4,12.273812,5.333333,101.818048,5.447056,8.380086,NaN